body {
    margin: 3rem 3rem 3rem 4rem;
    max-width: 46rem;
    background-color: #F1CFFC
    ;
}

h1 {
    font-size: 3rem;
}

h1, h2, h3 {
    color: hsl(285, 88%, 10%);
    margin-bottom: 0.5em;
}

ul {
    display: inline-block;
    list-style-type: none;
    
}

li {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 
    0.3px 0.5px 0.7px hsla(286deg 36% 56% / 0.36),
    0.8px 1.6px 2px -0.8px hsla(286deg 36% 56% / 0.36),
    2.1px 4.1px 5.2px -1.7px hsla(286deg 36% 56% / 0.36),
    5px 10px 12.6px -2.5px hsla(286deg 36% 56% / 0.36);
    font-size: 1.3rem;
    margin: 0 0 2rem 0;

    a {
        color: hsl(285, 88%, 40%);
    }
}

img {
    border-radius: 1rem;
    max-width: 30rem;
    height: auto;
}

